terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstate"
    storage_account_name = "sttfstateREPLACE"
    container_name       = "tfstate"
    key                  = "container-apps/dev.tfstate"
  }
}
