name: image-build-push

on:
  push:
    branches: [ "main" ]
    paths:
      - "app/**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Azure login (OIDC ready)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id:  ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to ACR
        run: az acr login --name acrportfoliocadev

      - name: Build
        run: docker build -t acrportfoliocadev.azurecr.io/app:${{ github.sha }} ./app

      - name: Push
        run: docker push acrportfoliocadev.azurecr.io/app:${{ github.sha }}
