jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      # Terraform checks...
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform fmt
        working-directory: infra/terraform
        run: terraform fmt -check -recursive
      - name: Terraform init (no backend)
        working-directory: infra/terraform
        run: terraform init -backend=false
      - name: Terraform validate
        working-directory: infra/terraform
        run: terraform validate

      # Ansible checks
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install ansible-lint
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint

      - name: Ansible lint
        working-directory: ansible
        run: ansible-lint .

      - name: Ansible syntax-check
        working-directory: ansible
        run: ansible-playbook playbooks/smoke.yml --syntax-check
